<div align="center">
  <div class="block">
    <div class="btn-group" data-toggle="buttons-radio" style="min-width: 260px; height: 32px; font-size: 13px; padding-bottom: 16px;">
      <input class="btn" type="button" name="course[session]" value="Fall" style="width: 33%"/>
      <input class="btn" type="button" name="course[session]" value="Winter" style="width: 33%"/>
      <input class="btn" type="button" name="course[session]" value="Summer" style="width: 33%"/>
    </div>
  </div>
  
  <table class="table table-bordered">
    <tr>
        <td></td>
        <th style="text-align: center;">Monday</th>
        <th style="text-align: center;">Tuesday</th>
        <th style="text-align: center;">Wednesday</th>
        <th style="text-align: center;">Thursday</th>
        <th style="text-align: center;">Friday</th>
        <th style="text-align: center;">Saturday</th>
        <th style="text-align: center;">Sunday</th>
    </tr>
  </table>
</div>
