<%= render 'layouts/header' %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <!-- Left Content -->
      <p>Hello Rails!</p>
    </div>
    <div class="span8">
      <!-- Right Content -->
      <p>Hello Rails!</p>
    </div>
  </div>
  
</div>
<%= render 'layouts/footer' %>

